.admin-header {
    width: 100%;
    padding-top: 1.55rem;
    padding-bottom: 1.55rem;
    background-color: rgb(224, 41, 59);
}

.header__texts {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .4rem;
}

.header__par {
    color: #e4e4e4;
    font-weight: 500;
}

.header__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 3rem;
}

.header__ul {
    display: flex;
    flex-direction: row;
    gap: 1.75rem;
}

.href_color {
    font-size: 0.8rem;
        color: #fff;

        &:hover {
            color: rgb(194, 194, 194);
        }
}

.selected-text {
    color: rgb(194, 194, 194);
}